# ignore build directory
build/
klimits/build/
dist/
klimits.egg-info/
.vscode

# ignore pycache
__pycache__/
klimits/__pycache__/
klimits/_klimits/__pycache__/
klimits/_klimits/_klimits_module.c
*.so
*.pyc
*.pyo
.idea/

